.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    font-size: 85px;
    color: #fff;
    animation: flipTitle 2s;
}

@keyframes flipTitle {

    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }

}

.containerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder {
    color: #f1f1f1;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 500px;
    border-radius: 8px;
}

.main h2 {
    margin: 16px 0;
    font-size: 39px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
}

.cepNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 400px;
    min-height: 250px;
    border-radius: 8px;
}

.errorLogo {
    background-color: transparent;
    border: 0;
}

.messageError {
    font-weight: 800;
    margin-top: 16px;
}

.modalError {
    width: 400px;
    min-height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: modal-appear-animation 0.4s ease-in-out;
}

@keyframes modal-appear-animation {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modalError button {
    background-color: #007213;
    border-radius: 13px;
    border: 0;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-top: 10px;
    width: 180px;
    font-weight: bold;
    cursor: pointer;
    animation: flipTitle 0.5s;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flipModal {

    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }

}

@media(max-width: 620px) {
    .title {
        font-size: 60px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main {
        width: 80%;
        min-height: 250px;
    }
}